
/*=========== About CSS=========*/

/***********************
	Main title
************************/
.company{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
/***********************
	The content
************************/																																																																																																																																																																																																																																																																																																																																																	
#col{
	margin-top: 150px;
	background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
#col h1{																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															
	color: #DD362C;
	font-family: 'pierRegular';
	padding: 20px;
	font-size: 80px;
}
#col p{
	color: #ecf0f1;
	font-family:'pierBold';
	font-size: 18px;																																			;
}
/***********************
	Photos Box Shadow
************************/	
.thumbnail{
	box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.3);
}