
/*=========== Find CSS =========*/

/***********************
Get in touch
************************/
#touch{
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
#touch h2{
    color: #DD362C;
} 
/***********************
Form Style
************************/
#contact {
    margin-top: 100px;
    margin-left:auto;
    margin-right:80px;
    width: 500px;
    height: 450px;
    padding:30px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 5px;// REvisar
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.2); 
}
/***********************
Form Text Area
************************/

textarea{
    background: rgba(0, 0, 0, 0.2); 
    width: 420px;
    height: 180px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}
/***********************
Inputs and button 
************************/

#name,#email,.bt{
    width: 420px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    background: rgba(0, 0, 0, 0.2); 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

input[type=submit] {
    cursor:pointer;
}

input:focus, textarea:focus { 
      background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
      overflow: hidden; 
}
.bt:hover {
    border:  solid #fff;
    text-shadow: #fff 0 1px 0;
    background: rgba(255,255,255, 1);
    color: #DD362C ;
 }

.btn:active {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: rgba(255,255,255, 1);
    color: #DD362C ;

   }
/***********************
MAP STYLE 
************************/
#map{
    width: 560px;
    height: 450px;
    margin: 102px;
}

/*================================
FIND RESPONSIVE SECTION
================================*/
@media ( max-width:1290px){
    #map{
        width: 370px;
        height: 370px;
        margin-left: 10%;
    }
}
/*================================
MEDIA QUERY SIZE 910px
================================*/
@media ( max-width:910px){
     #map{      /* resizing the Map  */
        width: 310px;
        height: 310px;
        margin-left: 10%;}
    #contact{ /* resizing the contact form*/
        width: 290px;
        height: 388px;}
    #name,#email,.bt{
        height: 48px;
        width: 227px;}
    textarea{
        width: 231px;
        height: 138px;}
}
/*================================
MEDIA QUERY SIZE 740px
================================*/
@media ( max-width:740px){
   #contact {
    float: left;
    height: 388px;
    margin-left: 35%;
    margin-top: 0px;
        width: 290px;
    }
    #map{
        margin-left: 30%;
        width: 380px;}
}
/*================================
MEDIA QUERY SIZE 677px
================================*/
    @media ( max-width:677px){
       
    #contact{ margin-left: 25%;}
    
    #map{margin-left: 20%;}

}
/*================================
MEDIA QUERY SIZE 517px
================================*/
     @media ( max-width:517px){
       
    #contact {margin-left: 8%;}
    
    #map{margin-left: 5%;}
}
/*================================
MEDIA QUERY SIZE 387px
================================*/
@media ( max-width:387px){
    
    #contact{margin-left: 2%;}
   
    #map{ width: 280px;margin-left: 5%;}
}
/*================================
MEDIA QUERY SIZE 910px
================================*/
    @media ( max-width:317px){
       
    #contact{margin-left:0px;}

    #map{ width: 230px; margin-left: 0px;}

}
