/*FONTS LOADED*/
/*TO USE THE FONTS YOU HAVE TO USE QUOTES AND THE FAMILY-NAME OF
/*FONT
*/

@font-face {
    font-family:'calendas';
    src: url(Calendas_Plus.otf)format("opentype");
}
@font-face {
    font-family: 'fab';
    src: url('fabfeltscript-bold.eot');
    src: url('fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('fabfeltscript-bold.woff2') format('woff2'),
         url('fabfeltscript-bold.woff') format('woff'),
         url('fabfeltscript-bold.ttf') format('truetype'),
         url('fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pierRegular';
    src: url('pier-regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'pierBold';
    src: url('pier-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'pierItalic';
    src: url('pier-italic.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'pierBI';
    src: url('pier-bold-italic.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}